#ProcessManager div.process-tree,
#ProcessManager div.indent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#ProcessManager div.row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  gap: 10px;
  background-color: transparent;
  height: 34px;
}

#ProcessManager div.row.selected {
  background-color: var(--accent-transparent);
}

#ProcessManager div.row.selected:hover {
  background-color: var(--accent-light-transparent);
}

#ProcessManager div.row:not(.header):not(.selected):hover {
  background-color: var(--button-bg);
}

#ProcessManager div.row div.segment.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ProcessManager div.row div.segment.name img {
  height: 24px;
}

#ProcessManager div.row:not(.header) div.segment:not(.name) {
  opacity: 0.5;
}

#ProcessManager div.row:not(.service):not(.header) div.segment.pid {
  transform: translate(-34px);
}

#ProcessManager div.row div.segment.pid:not(.flagged) img {
  opacity: 0;
  pointer-events: none;
}

#ProcessManager div.row div.segment.pid {
  width: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#ProcessManager div.row:not(.service) div.segment.name {
  margin-right: auto;
}

#ProcessManager div.row div.segment.description {
  width: fit-content;
  width: 40%;
  margin-left: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#ProcessManager div.row div.segment.status {
  text-align: left;
  width: 70px;
}

#ProcessManager div.row div.segment.app-id {
  width: 150px;
}

#ProcessManager div.indent {
  padding-left: 25px;
}

#ProcessManager div.row.header {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 10px;
  padding-left: 5px;
  height: 20px;
  margin-right: 8px;
}
