#ProcessManager div.toolbar {
  height: 51px;
  background-color: var(--button-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--win-border);
  padding: 0 10px;
  padding-left: 20px;
}
#ProcessManager div.toolbar > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ProcessManager div.toolbar button {
  margin: 0;
  height: 30px;
}

#ProcessManager div.toolbar button:not(.suggested) {
  background-color: var(--button-glass-bg);
}

#ProcessManager div.toolbar div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-glass-bg);
}

#ProcessManager div.toolbar button.close {
  color: var(--clr-green-bg);
  background-color: var(--clr-green-fg);
}
#ProcessManager div.toolbar p.running {
  opacity: 0.5;
}
