@import url("./users/header.css");

#ProcessManager div.top.users {
  padding-top: 15px !important;
}

#ProcessManager div.user-list {
  /* column-count: 3; */
  gap: 5px;
  height: calc(100% - 70px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-between;
}

#ProcessManager div.user-list div.user {
  display: flex;
  align-items: center;
  height: 34px;
  gap: 10px;
  border-radius: 6px;
  padding: 5px;
  width: fit-content;
  width: 20%;
}

#ProcessManager div.user-list div.user span.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#ProcessManager div.user-list div.user span.role {
  margin-left: auto;
  opacity: 0.5;
}

#ProcessManager div.user-list div.user img {
  height: 24px;
  border-radius: 12px;
}
